.Normal-Header {
    background-color: #6D6D4E;
}

.Fire-Header {
    background-color: #9C531F;
}

.Water-Header {
    background-color: #445E9C;
}

.Grass-Header {
    background-color: #4E8234;
}

.Flying-Header {
    background-color: #6D5E9C;
}

.Fighting-Header {
    background-color: #7D1F1A;
}

.Poison-Header {
    background-color: #682A68;
}

.Electric-Header {
    background-color: #A1871F;
}

.Ground-Header {
    background-color: #927D44;
}

.Rock-Header {
    background-color: #786824;
}

.Psychic-Header {
    background-color: #A13959;
}

.Ice-Header {
    background-color: #638D8D;
}

.Bug-Header {
    background-color: #6D7815;
}

.Ghost-Header {
    background-color: #493963;
}

.Steel-Header {
    background-color: #787887;
}

.Dragon-Header {
    background-color: #4924A1;
}

.Dark-Header {
    background-color: #49392F;
}

.Fairy-Header {
    background-color: #9B6470;
}

