body {
    background-color: black;
    color: lightblue;
}

div.appContainer {
    width: 100%;
}

table {
    width: 100%;
    max-width: 40em;
    background-color: black;
    border-collapse: collapse;
    border: 1px solid darkgray;
}

td.Defense {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    vertical-align: top;
    height: 7em;
    min-height: 7em;
}

td {
    /* width: 1.3em; */
    min-width: 1em;
    max-width: 2em;
    font-size: 9pt;
    border: 1px solid darkgray;
    text-align: center;
}

td.Attack {
    min-width: 4em;
}

td.Split {
    width: 5em;
}

td.Attack,td.Defense {
    text-align: left;
    font-weight: bold;
    border: none;
}

td.Attack-Highlight {
    background-color: #571a1a;
}

td.Defense-Highlight {
    background-color: #273818;
}

td.Defense-Highlight.strong {
    background-color: #004400;
}

td.Defense-Highlight.weak {
    background-color: #6d2000;
}

td.Defense-Highlight.immune {
    background-color: #2c2000;
}

td.strong {
    background-color: #006400;
}

td.weak {
    background-color: #8b0000;
}

td.immune {
    background-color: #2c0000;
    color: #a19d58;
}

.nobreak {
    display: inline-block;
}

.toolbar {
    margin-bottom: 1em;
}

.button {
    background-color: #0000ff;
    color: lightblue;
    padding: .5em;
    margin: 0;
    border-radius: .5em;
    border: lightblue;
    border-style: solid;
    border-width: 1px;
}
